<h3>Create new Query</h3>
<%= form_for @query do |f| %>
    <%= render :partial => "form", :object => f %>
    <div class="action-buttons">
      <%= f.submit "Create", :name => "create" %>
      <%= link_to f.submit("Cancel", :name => "cancel"), queries_url %>
    </div>
<% end %>
